.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    height: 100%;
}
.main-container{
    background-color: grey;
    color: white;
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: auto;
}
#day, #month , #year{
    max-width: 200px;
    width: 100%;
}
